<h3>Last accessed sites:</h3>
<table id="sites">
  <thead>
  <tr>
    <th>site</th>
    <th>stat</th>
    <th class="ar">impressions</th>
    <th>last access</th>
    <th>last access since</th>
  </tr>
  </thead>
  <tbody>
{% for site in sites %}
  <tr>
    <td><img src="https://s2.googleusercontent.com/s2/favicons?domain_url=http://{{site.url}}/" alt="ico" />
    <a href="http://{{site.url}}">{{site.url}}</a></td>
    <td><a href="/show/{{site.url}}">show</a></td>
    <td class="ar">{{site.views}}</td>
    <td>{{site.last_access|date:"d.m.Y H:i:s"}}</td>
    <td>{{site.last_access|timesince}}</td>
  </tr>
{% endfor %}
  </tbody>
</table>
